<div class="search-popup">
  <div class="search-header">
    <span class="search-icon"><%- searchIcon -%></span>
    <div class="search-input-container">
      <input autocomplete="off" autocorrect="off" autocapitalize="none" placeholder="<%= placeholder %>"
        spellcheck="false" type="text" id="search-input">
    </div>
    <span class="popup-btn-close"><%- closeIcon -%></span>
  </div>
  <div id="search-result"></div>
</div>
<div class="search-pop-overlay"></div>
